html,body,*{
    margin: 0;
    padding: 0;
    font: 16px '微软雅黑';
    color: #555;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
body{
    overflow-x: auto;
    overflow-y: visible;
    background-color: #eee;
    position: relative;
    min-height: 1000px;
}
a,a:hover,a:active,a:visited{
    text-decoration: none;
}
.font12px{
    font-size: 12px;
}
.font14px{
    font-size: 14px;
}
.marginTop20px{
    margin-top: 20px;
}
.marginTop24px{
    margin-top: 24px;
}
.marginLeft6px{
    margin-left: 6px;
}
.marginLeft10px{
    margin-left:10px;
}
#displayApplyContainer{
    width: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: white;
    z-index: 2000;
}
#loadingPic{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    position: fixed;
    z-index: 9999;
    display: none;
}
#loadingPic p{
    position: absolute;
    text-align: center;
    color: black;
    font-weight: bold;
    width: 200px;
    height: 60px;
    line-height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -100px;
}
#bigContent{
    width: 96%;
    background-color: #efefef;
    position: absolute;
    left: 3%;
    top: 40px;
}
#bigContent #leftContent{
    float: left;
    width: 12%;
    min-height: 600px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 3px 1px #999 ;
    border-radius: 2px;
}
#bigContent #leftContent .welcome{
    height: 150px;
    line-height: 150px;
    font-weight: bold;
}
#bigContent #leftContent .name{
    height: 50px;
    line-height: 50px;
}
#bigContent #leftContent #buttonList{
    margin-top: 30px;
    list-style-type: none;
}
#bigContent #leftContent #buttonList li{
    text-align: center;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-top: solid #ccc 1px;
    position: relative;
}
#bigContent #leftContent #buttonList span.redPoint{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 7px;
    height: 7px;
    display: none;
    background: url("../images/point.png") no-repeat;
    background-size: 7px 7px;
}
#bigContent #leftContent #buttonList li:last-child{
    border-bottom: solid #ccc 1px;
}
#bigContent #leftContent #buttonList li:hover{
    font-weight: bold;
    background-color: #bbb;
    color: white;
    transition: 0.3s;
}
#bigContent #rightContent{
    float: left;
    width: 80%;
    margin-left: 4%;
    min-height: 600px;
    background-color: white;
    box-shadow: 0 0 3px 1px #999 ;
    border-radius: 2px;
}
#bigContent #rightContent h1#title{
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
}
#bigContent #rightContent .operateContent{
    width: 95%;
    min-height: 460px;
    padding: 0 2.5% 40px 2.5%;
    background-color: #f4f4f4;
}
#bigContent #rightContent .operateContent>div{
    width: 100%;
    min-height: 460px;
    text-align: center;
    display: none;
}
#bigContent #rightContent .operateContent #appendContainer{
    width: 100%;
}
#bigContent #rightContent .operateContent #queryCardContainer{

}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardBanner{
    overflow: hidden;
    padding-left: 10%;
}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardBanner>div{
    overflow: hidden;
    float: left;
}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardBanner label{
    height: 30px;
    line-height: 30px;
    margin: 0 15px 0 5px;
    float: left;
    font-size: 14px;
}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardBanner input{
    margin: 9px 0 0 0 ;
    float: left;
}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardBanner #queryCardButton{
    width: 60px;
    height: 26px;
    line-height: 26px;
    margin-top: 2px;
    font-size: 14px;
    float: left;
    overflow: hidden;
}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardBanner #htmlToXls{
    width: 100px;
    height: 26px;
    line-height: 26px;
    margin-top: 2px;
    font-size: 14px;
    float: left;
    overflow: hidden;
    margin-left: 40px;
    visibility: hidden;
}
#bigContent #rightContent .operateContent #queryCardContainer #moreButtonBanner{
    height: 30px;
    overflow: hidden;
}
#bigContent #rightContent .operateContent #queryCardContainer #moreButtonBanner #more{
    height: 30px;
    width: 60px;
    float: left;
    font-size: 12px;
    margin-left: 18px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner{
    height: 0;
    padding: 0 28px;
    margin-top: 10px;
    overflow: hidden;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToDisplay{
    height: 100px;
    overflow: hidden;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToDisplay #controlArea{
    float: left;
    height: 90px;
    width: 70px;
    padding-top: 10px;
    border-right: dashed 1px #333;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToDisplay #controlArea span{
    display: block;
    height: 22px;
    width: 70px;
    font-size: 16px;
    margin-bottom: 5px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToDisplay #controlArea span input{
    float: left;
    margin-top: 2px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToDisplay #controlArea span label{
    float: left;
    font-size: 12px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToDisplay>#inputArea{
    width: 617px;
    float: left;
    height: 90px;
    overflow: hidden;
    padding-top: 10px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToDisplay #inputArea>div{
    float: left;
    margin: 5px 3px;
    height: 20px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToDisplay #inputArea>div label{
    font-size: 12px;
    float: left;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToDisplay #inputArea>div input{
    float: left;
    margin-top: 2px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToSelect {
    overflow: hidden;
    width: 100%;
    height: 80px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToSelect>div{

}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToSelect>div:first-child{
    width: 100%;
    text-align: left;
    text-indent: 0.7em;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToSelect #selectArea{
    width:100%;
    overflow: hidden;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToSelect #selectArea>select,#selectArea>#selectTypeDiv{
    float: left;
    margin-left: 30px;
    font-size: 14px;
 }
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToSelect #selectArea>#valueDiv{
    float: left;
    margin-left: 30px;
    font-size: 14px;
    max-width: 364px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToSelect #value{
    width: auto;
    height: 19px;
    margin-top: 20px;
    font-size: 12px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToSelect #selectArea>select>option,#selectTypeDiv>select,#selectTypeDiv>select>option,#valueDiv,#value>option,select#value{
    font-size: 14px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToSelect #selectArea select#value{
    font-size: 14px;
    height: 23px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToSelect #value1,#value2{
    height: 19px;
    width: 65px;
    font-size: 12px;
    margin-top: 20px;
}
#bigContent #rightContent .operateContent #queryCardContainer #querySelectBanner #whatToSelect #selectArea #valueDiv input{

}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardContent{
    overflow-x: auto;
}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardContent table{
    background-color: white;
}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardContent table tr{
    height: 24px;
}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardContent table tr>th:last-child,td:last-child{
    border-right: 1px solid #333;
}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardContent table tr>th{
    cursor:pointer;
}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardContent table tr th{
    background-image: none;
    background-origin: content-box;
    background-position-y: -3px;
}
#bigContent #rightContent .operateContent #queryCardContainer #queryCardContent th,td{
    height: 24px;
    line-height: 24px;
    padding: 0 15px 0 15px;
    border: 1px solid #333;
    border-right: none;
    font-size: 14px!important;
    white-space: nowrap;
    user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}
#bigContent #rightContent .operateContent #queryCardContainer #cardPageContent{
    display: none;
    margin-top: 20px;
    padding: 10px 0 10px 0;
}

#bigContent #rightContent .operateContent #informationContainer{
    position: relative;
}
#bigContent #rightContent .operateContent #informationContainer #cardPicContent{
    position: absolute;
    width: 40%;
    height: 200px;
    top: 80px;
    left: 5%;
    background: white;
}
#bigContent #rightContent .operateContent #informationContainer #cardInfoContent{
    position: absolute;
    background-color: whitesmoke;
    height: 200px;
    top: 80px;
    left: 45%;
    width:52%;
}
#bigContent #rightContent .operateContent #informationContainer #cardInfoContent p{
    padding: 0;
    float: left;
    width: 70px;
    font-size: 14px;
    margin-top: 20px;
}
#bigContent #rightContent .operateContent #informationContainer #cardInfoContent div{
    padding: 0;
    font-size: 14px;
    float: left;
    width: 110px;
    margin-top: 20px;
    border-bottom: 1px solid #333;
}
#bigContent #rightContent .operateContent #informationContainer #cardInfoContent div.idCard{
    width: 150px;
}
#bigContent #rightContent .operateContent #informationContainer #cardInfoContent div.driveType{
    width: 50px;
}
#bigContent #rightContent .operateContent #applyContainer{
    padding-top: 50px;
}
#bigContent #rightContent .operateContent #applyContainer #fixButton,#yxqmButton,#fyxqmButton{
    padding: 5px 20px;
    height: 50px;
    line-height: 10px;
    font-size: 14px;
    display: block;
    margin: 0 0 50px 50px;
}
#bigContent #rightContent .operateContent #applyContainer #applySubmit{
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    visibility: hidden;
}
#bigContent #rightContent .operateContent #applyContainer #print{
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-left: 100px;
    visibility: hidden;
}
#fixTable{
    width: 800px;
    height: 1120px;
    background-color: white;
    position: relative;
    visibility: hidden;
    z-index: 2000;
}
#fixTable h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family: '宋体';
    border:none;!important;
    height: 180px;
    line-height: 260px;
}
#fixTable #fixTableArea{
    border: solid 1px black;
    width: 700px;
    position: relative;
    left: 50px;
    overflow: hidden;
}
#fixTable #fixTableArea div,#fixTable #fixTableArea span{
    font-size: 14px;
    font-family: '仿宋';
}
#fixTable #fixTableArea div{
    overflow: hidden;
}
#fixTable #fixTableArea .cardIdInTable{
    text-align: center;
}
#fixTable #fixTableArea #mailInTable{
    text-indent: 0.3em;
    font-size: 14px;
    font-family: '仿宋';
}
#fixTable #fixTableArea #addressInTable{
    text-indent: 1em;
    font-size: 14px;
    font-family: '仿宋';
}
#fixTable #fixTableArea #mobilePhoneInTable{
    text-indent: 1em;
    font-size: 14px;
    font-family: '仿宋';
}
.textCenter{
    text-align: center;
}
.float{
    float: left;
}
.rela{
    position: relative;
}
.abso{
    position: absolute;
}
.width68{
    width: 68px;
}
.width503{
    width: 503px;
}
.width125{
    width: 125px;
}
.width122{
    width: 122px;
    text-align: center;
}
.width64{
    width: 64px;
}
.width99{
    width: 83px;
}
.width24{
    width: 24px;
}
.width56{
    width: 56px;
}
.width149{
    width: 149px;
}
.width249{
    width: 209px;
}
.width575{
    width: 575px;
}
.width572{
    width: 572px;
}
.width404{
    width: 404px;
}
.width449{
    width: 449px;
}
.width174{
    width: 174px;
}
.height35{
    height: 35px;
    line-height: 35px;
}
.height28{
    height: 28px;

}
.height54{
    height: 54px;
    line-height: 24px;
}
.height70{
    height: 70px;
    line-height: 22px;
}
.height170{
    height: 170px;
    line-height: 170px;
}
.floatR{
    float: right;
}
.borderRight{
    border-right: 1px solid black;
}
.borderLeft{
    border-left: 1px solid black;
}
.borderTop{
    border-top: 1px solid black;
}
.borderBottom{
    border-bottom: 1px solid black;
}
.borderAll{
    border: 1px solid black;
}
.noborder{
    border:none;
}
.origin label,.apply span,.apply label,.apply span{
    font-size: 14px;
    font-family: '仿宋';
    font-weight: bold;
}
.origin input,.apply input{
    margin: 8px 0 0 15px;
}
.origin label,.origin span,.apply label{
    margin: 6px 0 0 3px;
}
.phyCheck label,.apply span{
    font-size: 14px;
    font-family: '仿宋';
}
.reason label{
    line-height: 26px;
    font-size: 14px;
    font-family: '仿宋';
}
.reason input{
    margin: 8px 0 0 15px;
}
#otherReasonText{
    margin-top: 4px;
}
#bigContent #rightContent #improveContainer{
    height: 560px;
}
#bigContent #rightContent #improveContainer #picContent{
    width: 180px;
    padding-left: 100px;
    height: 560px;
    padding-top: 40px;
}
#bigContent #rightContent #improveContainer #picContent>div{
    width: 150px;
    height: 150px;
    border: 10px solid #fff;
    line-height: 150px;
    margin-bottom: 40px;
}
#bigContent #rightContent #improveContainer #formContent{
    width: 400px;
}
#bigContent #rightContent #improveContainer #formContent div form{
    display: block;
}
#bigContent #rightContent #improveContainer #formContent div{
    height: 180px;
    margin-top: 60px;
    text-align: left;
    margin-left: 50px;
}
#reasonContainer{
    width: 100%;
    height: 100%;
    background: #eee;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1000;
}
#reasonContainer #reasonContent{
    position: absolute;
    background: white;
    top: 30%;
    left: 50%;
    width: 200px;
    height: 240px;
    opacity: 1;
    margin: -100px 0 0 -100px;
    z-index: 1000;
}
#reasonContainer #reasonContent>div{
    margin-top: 20px;
    text-align: center;
}
#reasonContainer #reasonContent>div>input{
    float: left;
}
#bigContent #rightContent #checkContainer #checkBanner{
    height: 40px;
    border-bottom: 1px solid #333333;
}
#bigContent #rightContent #checkContainer #checkBanner>div{
    height: 40px;
    border: 1px solid #333;
    border-bottom: none;
    font-size: 14px;
    line-height: 40px;
    border-radius: 10px 15px 0 0;
    cursor: pointer;
    width: 80px;
}
#bigContent #rightContent #checkContainer #checkContent{
    position: relative;
    overflow: hidden;
    height: 700px;
}
#bigContent #rightContent #checkContainer #checkContent>div:not(#fixCheckPage){
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#bigContent #rightContent #checkContainer #checkContent #fixApplyContent #fixCheckTable,#exchangeCheckTable{
    margin: 50px 0 0 5px;
}
#bigContent #rightContent #checkContainer #checkContent th,#bigContent #rightContent #checkContainer #checkContent td{
    padding: 3px 18px 3px 18px;
    border: 1px solid #333;
    border-right: none;
}
#bigContent #rightContent #checkContainer #checkContent th:last-child,#bigContent #rightContent #checkContainer #checkContent td:last-child{
    border-right: 1px solid #333;
    font-size: 14px;
    padding: 3px 15px 3px 15px;
}
#bigContent #rightContent #checkContainer #checkContent .seeInfo{
    font-size: 12px;
    color: cornflowerblue;
    text-decoration: underline;
    cursor: pointer;
}
#bigContent #rightContent #checkContainer #checkContent .pass{
    float: left;
    background:url("../images/pass.png");
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#bigContent #rightContent #checkContainer #checkContent .reject{
    float: left;
    margin-left: 30px;
    background: url("../images/reject.png");
    width: 16px;
    height: 16px;
    margin-top: 8px;
    cursor: pointer;
}
#bigContent #rightContent #checkContainer #checkContent #fixApplyPage,#bigContent #rightContent #checkContainer #checkContent #exchangeApplyPage{
    display: none;
}
 .prev, .next{
    cursor: pointer;
}
#bigContent #rightContent #alertContainer #alertBanner {
    height: 60px;
    padding-left: 100px;
    border-bottom: 1px solid #333;
    text-align: left;
    line-height: 60px;
}
#bigContent #rightContent #alertContainer #alertBanner *{
    float: left;
}
#bigContent #rightContent #alertContainer #alertContent #alertTable {
    margin:40px 0 40px 80px;
}
#bigContent #rightContent #alertContainer #alertContent #alertPage ,#dataPage,#giveOutPage{
    display: none;
}
#bigContent #rightContent #alertContainer #alertContent #alertTable th,#bigContent #rightContent #alertContainer #alertContent #alertTable td{
    border: 1px solid #333;
    border-left: none;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}
#bigContent #rightContent #alertContainer #alertContent #alertTable th:first-child,#bigContent #rightContent #alertContainer #alertContent #alertTable td:first-child{
    border-left: 1px solid #333;
}
#bigContent #rightContent #dataContainer #dataContent{
    padding-top: 30px;
    overflow-x: auto;
    white-space: nowrap;
}
#bigContent #rightContent #dataContainer #dataContent #dataTable th,#bigContent #rightContent #dataContainer #dataContent #dataTable td{
    border: 1px solid #333;
    border-left: none;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}
#bigContent #rightContent #giveOutContainer #giveOutContent{
    padding-top: 30px;
}
#bigContent #rightContent #giveOutContainer #giveOutContent #giveOutTable{
    margin: 0 0 0 160px;
}
#bigContent #rightContent #dataContainer #dataContent #dataTable th:first-child,#bigContent #rightContent #dataContainer #dataContent #dataTable td:first-child{
    border-left: 1px solid #333;
}
#bigContent #rightContent #giveOutContainer #giveOutContent #giveOutTable th,#bigContent #rightContent #giveOutContainer #giveOutContent #giveOutTable td{
    border: 1px solid #333;
    border-left: none;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}
#bigContent #rightContent #giveOutContainer #giveOutContent #giveOutTable th:first-child,#bigContent #rightContent #giveOutContainer #giveOutContent #giveOutTable td:first-child{
    border-left: 1px solid #333;
}
#bigContent #rightContent #giveOutContainer #giveOutContent #giveOutTable .giveOut{
    color: cornflowerblue;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}